<div class="left_nav">
  <div>
    <div class="dashboard">
      <img src="assets/images/dashboard.png">
    </div>
    <div class="text">        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/property.png">
    </div>
    <div class="text">Property</div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/collaboration.png">
    </div>
    <div class="text">
        <a onclick="hide_default();" routerLink="/collaboration" routerLinkActive="active">Collaboration</a>
    </div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/documents.png">
    </div>
    <div class="text">Documents</div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/accounting.png">
    </div>
    <div class="text">Accounting</div>
  </div>
  <div>
    <div class="dashboard">
      <img src="assets/images/help.png">
    </div>
    <div class="text">Help</div>
  </div>
</div>
