.left_nav{
    position: fixed;
    height: 90%;
    width: 8%;
    background: #16314D;
    margin: -.06%;
}


.dashboard{
    text-align: center;
    padding-top: 30%;
    cursor: pointer;
}

.text{
    color: #F4F8F8;
    font-family: 'Arial';
    text-align:center;
    font-size: 13px;
    font-weight: 400;
}