.content-wrap{
    width: 85%;
    margin: 0px auto;
}
.residents_approval_tab{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    font-family: Montserrat-Light;
}
.residents_approval_tab .panel-title, .discussion_approval_tab .panel-title{
    position: relative;
    padding-left: 20px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
a{
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent;
}
a:hover{
    color: #0056b3 !important;
    text-decoration: none;
}
.residents_approval_content, .discussion_approval_content{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}
app-usercard{
    float:left;
}