<div class="content-wrap container-fluid">
    <div class="residents_approval row">
        <div class="residents_approval_tab"> 
        <a data-toggle="collapse" class="panel-title" href="#residentsContents" role="button" aria-expanded="true" aria-controls="residentsContents">  Residents Awaiting Approval </a>
        </div> <!--residents_approval_tab-->

        <div class="residents_approval_content">
            <div class="collapse multi-collapse show" id="residentsContents">
                <app-usercard class="col-lg-4 col-md-6"></app-usercard> 
                <app-usercard class="col-lg-4 col-md-6"></app-usercard>
                <app-usercard class="col-lg-4 col-md-6"></app-usercard>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap container-fluid">
        <div class="residents_approval row">
            <div class="residents_approval_tab"> 
            <a data-toggle="collapse" class="panel-title" href="#residentsContents" role="button" aria-expanded="true" aria-controls="residentsContents">  Residents Awaiting Registration </a>
            </div> <!--residents_approval_tab-->
    
            <div class="residents_approval_content">
                <div class="collapse multi-collapse show" id="residentsContents">
                    <app-usercard class="col-lg-4 col-md-6"></app-usercard> 
                    <app-usercard class="col-lg-4 col-md-6"></app-usercard>
                    <app-usercard class="col-lg-4 col-md-6"></app-usercard>
                </div>
            </div>
        </div>
    </div>