.header{
    background-color: #fff;
    height: 100%;
    width: 102%;
    /* position: fixed; */
}

.inline_display{
    display: inline;
}

.logo{
    vertical-align: middle;
}


.profile{
    text-align: right;
    height: 110%;
    background: #F57F3E;
    display: flex;
    margin-left: 0%;
    padding: .2%;
    padding-left: 1.5%;
    position:relative;
}

.prop_name{
    padding-left: 15px;
    border-left: 2px solid #F67335;
    color: #6F7C8B;
    font-size: 18px;
    font-family: Montserrat-Light;
    vertical-align: middle;
    height: 60%;
    margin-top: .75%;
}
