<div class="header row">
  <div class="logo col-lg-2">
    <img src="assets/images/logo.png" class="logo_image">
  </div>
  <div class="col-lg-8 prop_name">
    <span class="">Eagle Constructions</span>
  </div>

  <div class="profile col-lg-2">
    <div class="row">
      <img src="assets/images/prof_img.jpg">&nbsp;&nbsp;&nbsp;

      <div class="dropdown show" style="padding-top:5%;">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true" style="color:white;">
          Kailash Varma
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Logout</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Contact Support</a>
        </div>
      </div>

    </div>
  </div>
</div>
