<div id="mbody-container" class="container custom_container bodyc">

    <div class="col-lg-10 label">
      Property Dashboard
    </div>
    <div class="col-lg-10">
      &nbsp;
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-1 dcard shadow">
          <div>
            <img class="image" src="assets/images/dashboard/community.png">
          </div>
          Community Groups
        </div>
        <div class="col-lg-1 dcard shadow">
          <div>
            <img class="image" src="assets/images/dashboard/online_polls.png">
          </div>
          Online Polls
        </div>
        <div class="col-lg-1 dcard shadow">
          <div>
            <img class="image" src="assets/images/dashboard/notices.png">
          </div>
          Notices
        </div>
        <div class="col-lg-1 dcard shadow">
          <div>
            <img class="image" src="assets/images/dashboard/property-2.png">
          </div>
          Property
        </div>
        <div class="col-lg-1 dcard shadow">
          <div>
            <img class="image" src="assets/images/dashboard/memories.png">
          </div>
          Memories
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      &nbsp;
    </div>
    <div class="col-lg-10">
      &nbsp;
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-9 label">
          <div class="row">
            <div class="col-lg-5" style="border: 0pt solid black;">
              Group Activity
            </div>
            <div class="col-lg-6 color-text" style="border: 0pt solid black; text-align:right;">
              <div class="row">
                <div style="margin-left:25%;">
                  <div class="color-box" style="background-color:#F9C23F;">
                    &nbsp;
                  </div>
                  <div style="display:inline;">
                    &nbsp;&nbsp;Property&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div style="margin-left:0%;">
                  <div class="color-box" style="background-color:#39B82B;">
                    &nbsp;
                  </div>
                  <div style="display:inline;">
                    &nbsp;&nbsp;Notice&nbsp;&nbsp;
                  </div>
                </div>
                <div style="margin-left:0%;">
                  <div class="color-box" style="background-color:#FDA264;">
                    &nbsp;
                  </div>
                  <div style="display:inline;">
                    &nbsp;&nbsp;Polls&nbsp;&nbsp;
                  </div>
                </div>
                <div style="margin-left:0%;">
                  <div class="color-box" style="background-color:#8E79E1;">
                    &nbsp;
                  </div>
                  <div style="display:inline;">
                    &nbsp;&nbsp;Group&nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 label">
          &nbsp;&nbsp;Noticeboard
        </div>
      </div>
      <div class="col-lg-10">
        &nbsp;
      </div>
      <div class="col-lg-12">
  
        <div class="row">
          <div class="col-lg-9">
            <div class="blog-card shadow">
              <p class="blog-para-title">Water supply is not coming since last few hours</p>
              <p class="blog-para-contents">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
              <div>
                <font class="blog-writer">Kailash Varma</font> | Wednesday, 24 Jan 2018, 10.24pm</div>
            </div>
            <div>&nbsp;</div>
            <div class="blog-card shadow" style="border-left:#F9C23F solid 3px;">
              <p class="blog-para-title" style="color:#F9C23F;">
                Flat for sale</p>
              <p class="blog-para-contents">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
                and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
              <div>
                <font class="blog-writer" style="color:#F9C23F;">Kailash Varma</font> | Wednesday, 24 Jan 2018, 10.24pm</div>
            </div>
          </div>
          <div class="col-lg-3 ">
            <div class="noticeboard">
              <p class="blog-para-title" style="color:#6F7C8B">Water Issue Resolved</p>
              <p class="blog-para-contents">
                Monday, 27 Nov 2017, 5.56am from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                discovered the undoubtable source.
              </p>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>