.left_nav_container{
    width: 8%;
    height:78%;
    border:0px solid black;
    vertical-align: top;
}

.wrapper{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}

.header{
    height:7%; 
    border:0px solid black;
    width: 100%;
}

.footer{
    height:50px; 
    background: #333333;
    text-align: center;
    color: #c4c4c4;
    font-family: "Montserrat-Light";
    vertical-align: middle;
    width: 100%;
    /* position: fixed; */
    margin-left: -.6%;
    margin-top: 19%;
}

.body_container{
    background-color: rgba(244, 249, 250, 0.966);
    margin-left: -.6%;
    height: 90%;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}