<div>
  <div class="col-lg-12 header">
    <app-header></app-header>
  </div>
  <div class="row">
    <div class="col-lg-1 left_nav_container">
      <app-left-navigation></app-left-navigation>
    </div>
    <div class="col-lg-11">
      <div class="body_container">
        <app-body></app-body>
      </div>
     
    </div>

  </div>
  <!-- <div>Hello World</div> -->
</div>



