<div class="card_col">
    <div class="card">
        <div class="card-body">
            <div class="title_circle rounded-circle"> KV </div>
            <h5 class="card-title">Kailash Varma</h5>
            <div class="card_info">
                <div class="info_row row">
                    <div class="col-5 res_title">
                        Unit #
                    </div>
                    <div class="col-7 res_val">
                        3394385
                    </div>
                </div>
                <!--info_row-->
                <div class="info_row row">
                    <div class="col-5 res_title">
                        Email
                    </div>
                    <div class="col-7 res_val">
                        kailash@techie.com
                    </div>
                </div>
                <!--info_row-->
                <div class="info_row row">
                    <div class="col-5 res_title">
                        Last Login
                    </div>
                    <div class="col-7 res_val">
                        20 June 2017
                    </div>
                </div>
                <!--info_row-->
            </div>
            <!--card_info-->
            <div class="card_footer">
                <div class="row align-middle">
                    <div class="left_col col text-center">
                        <button type="button" class="btn btn-link text-danger">Reject</button>
                    </div>
                    <div class="right_col col text-center">
                        <button type="button" class="btn btn-link text-primary">Approve</button>
                    </div>
                </div>
            </div>
            <!--card_footer-->
        </div>
    </div>
</div>
<!--card_col-->